
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
.background-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.background-image::before {
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.2);
  /* mix-blend-mode: color; */
  z-index: 50;
}
.content {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  padding: 20px 50px 0;
  background-color: rgba(36, 53, 48, 0.7);
  z-index: 80;
}

.content input {
  width: 300px ;
  height: 50px;
  padding: 5px;
  border: none; 
  background-color: transparent;
  border-bottom: 1px solid gray;
  outline: none;
  color: #fff;
  font-size: 1rem;
  z-index: 99;
}

.content button {
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 80px;
  border: none;
  color: #fff;
  padding: 25px;
  background-color: rgb(100, 129, 120);
  z-index: 99;
}
.content button:hover {
  background-color: rgba(100, 129, 120, 0.5);
}

.content button img {
  width: 100%;
}

.content .weather-details {
 position: absolute; 
 border-top: 1px solid gray;
 top: 40%;
 width: 75%;
}

.content .weather-details p {
  margin-bottom: 3rem;
  margin-top: 2rem;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  display: block;
}

.content .weather-details span {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.content .weather-details span h5 {
  font-size: 1rem;
  color: darkgray;
  font-weight: 500;
}

.content .weather-details span h6 {
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
}
.error {
  margin-top: 4rem;
  color: #fff;
  width: 100%;
}
.error h1{
  font-size: 1.5rem;
  font-weight: 500;
}
.details {
  display: flex;
  align-items: center;
  width:100%;
  margin-top: 7vh;
  gap: 20px;
  color: #fff;
}
.details h1 {
  font-size: 4rem;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
}
.details h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
.details span {
  position: relative;
  width: 100px;
  /* white-space: nowrap; */
}
.details span p {
  font-size: 0.9rem;
  font-weight: 300;
  position: absolute;
  top: 40px;
  left: 5px;
}
.details span img {
  width: 50px;
}


@media screen and (max-width: 920px) {

  .content {
    left: 0;
    top: 65%;
    width: 100%;
    height: 35%;
    overflow: hidden;
  }
  .content input {
    height: 40px;
    padding: 5px;
    margin-left: 40px;
  }
  .content button {
    top: 0;
    left: 0;
    height: 60px;
    width: 70px;
    padding: 20px;
  }
  .content button:hover {
    background-color: rgba(100, 129, 120, 0.5);
  }
  
  .content button img {
    width: 100%;
    transform: rotate(90deg);
  }
  .content .weather-details {
    top: 0;
    left: 50%;
    width: 50%;
    padding-right: 50px;
   }
   .content .weather-details p {
    margin-bottom: 2vh;
   }
   .content .weather-details span {
    margin-top: 3.5vh;
  }
  .details {
    width:50%;
    margin-top: 5vh;
  }
}

@media  screen and (max-width: 820px) {
  .content input {
      width: 200px;
  }

}

@media screen and (max-width: 680px) { 
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
  }
  .content .weather-details p {
    display: none;
   }
   .content input {
    width: 70%;
    height: 50px;
    padding: 5px;
    font-size: 1.2rem;
    border-bottom: 1px solid lightgray;
  }
  .details {
    width: 100%;
    gap:0;
    justify-content: space-between;
  }
  .details h1 {
    font-size: 7rem;
  }
  .details h3 {
    display: none;
  }
  .content button {
    padding: 20px;
    top:10px;
    background-color:transparent;
  }
  .content button:hover {
    background-color:transparent;
  }
  .content .weather-details {
    position: absolute; 
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    border: 1px solid lightgray;
    background-color: rgba(255, 254, 254, 0.395);
    border-radius: 20px;
    left: 5%;
    top: 80%;
    width: 90%;
    height: 15%;
   }
   .content .weather-details span {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 5px;
    margin-top: 0;
  }
  .content .weather-details span h5 {
    color: #fff;
    font-weight: 300;
  }
  .content .weather-details span h6 {
    font-weight: 500;
  }
}
